{namespace Templates.Tooltip}

/**
 * This renders the main element.
 * @param? elementClasses
 * @param id
 */
{template .content}
	<div id="{$id}" class="tooltip component{$elementClasses ? ' ' + $elementClasses : ''}">
		<div class="tooltip-arrow"></div>
		{call .inner data="all" /}
	</div>
{/template}

/**
 * @param content
 * @param id
 */
{template .inner}
	<section id="{$id}-inner" class="tooltip-inner">
		{$content}
	</section>
{/template}
